<div class="newUser">
    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()" (change)="FormChanged()">
        <div class="form-field">
            <label for="firstname">firstname: </label>
            <input id="firstname" name="firstname" type="text" formControlName="firstname">
        
        </div>
        <div class="form-field">
            <label for="lastname">lastname: </label>
            <input id="lastname" type="text" formControlName="lastname">
        </div>
        <div class="form-field">
            <label for="email">email: </label>
            <input id="email" type="text" formControlName="email">
        </div>
        <!-- <div class="form-field">
            <label for="username">username: </label>
            <input id="username" type="text" formControlName="username">
        </div> -->
        <div class="form-field">
            <label for="password">password: </label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="form-field">
            <label for="confirmPassword">confirm password: </label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword">
        </div>
        <button class="btn" type="submit" [disabled]="!newUserForm.valid">Submit</button>
        <div class="form-field">
            <span>{{formStatus}}</span>
        </div>
    </form>
</div>