<div class="forgetPass">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label for="email">email: </label>
            <input id="email" type="text" formControlName="email">
        </div>
        <div class="form-field">
            <label for="password">password: </label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="form-field">
            <label for="passwordCpnfirm">password Confirm: </label>
            <input id="passwordCpnfirm" type="password" formControlName="passwordConfirm">
        </div>
        <button class="btn" type="submit" [disabled]="!forgetPasswordForm.valid">Submit</button>
        <div class="form-field">
            <span>{{formStatus}}</span>
        </div>
    </form>
</div>