<div class="mainClass">
    <div class="headerClass">
        <h3>Awaab Elamin</h3>
        <h4>Full Stack Developer</h4>
        <h5>Master of Software Engineer</h5>
    </div>
    <div class="frameClass">
        {{summary}}
    </div>
    <div class="expClass">
        <div class="frameClass expWidthClass">
            <h3>MIS For Awaaab LLC</h3>
            <ul>
                <li>Create MIS web site serve provide all SDLC steps to let client fills them directly.</li>
                <li>I doing all three level (frontend, backend and DB ) for each feature daily  and push it to GitHub.</li>
                <li>Deploy all code using ci/cd via GitHub and achieved 99% of business rules.</li>
                <li>Technologies used: VS code, Angular, Node JS,  MongoDB Atlas, GitHub, AWS (Amplify, App Runner, Code Pipeline, Route53), DevOps.</li>
            </ul>
        </div>
        <div class="frameClass expWidthClass">
            <h3>MIS For Transporter LLC </h3>
            <ul>
                <li>Contributed to the design and development of internal software applications, APIs, and libraries to serves three Frontend apps.</li>
                <li>(web, android mobile, desktop) and achieved a 90% of owner requires.</li>
                <li>Worked with a highly motivated team in an Agile environment for all lifecycle stages.</li>
                <li>Deploy all code using ci/cd via GitHub and achieved 99% of business rules.</li>
                <li>Technologies used: Visual Studio .Net 6 C Sharp, GitHub, AWS (EC, S3, RDS and Route53), DevOps</li>
            </ul>
        </div>
        <div class="frameClass expWidthClass">
            <h3>Web Application For Mosta LLC </h3>
            <ul>
                <li>Developed web application using WIX platform and achieved 100% of requirements.</li>
                <li>Increased market base by double and decreased Operating costs  10%.</li>
                <li>Technology used: WIX platform, AWS SNS, google domain.</li>
            </ul>
        </div>
    </div>
   
</div>