.mainClass {
    /* color: blue;
    border: 10px solid blue; */
    width: 80%;
    margin-left: 10%;
    padding-left: 3px;
    margin-top: 10%;
}

.headerClass {
    width: 50%;
    border: 3px double blue;
    text-align: center;
    /* display: flex; */
    margin-left: 25%;
    margin-bottom: 3px;
    
}

.frameClass {
    /* color:blue; */
    border: 3px double blue;
    padding-left: 3px;
    padding: 1%;
    margin-bottom: 3px;
}

.expClass {
    /* float: inherit; */
    /* padding-left: 3%; */
    display: flex;
    gap: 10px;
}

.expWidthClass {
    width: 40%;
    /* float: inline-start; */
    /* margin-right: 2%; */
    text-align: center;
    /* min-height: 300px; */
    border-radius: 25%;
    background-image: linear-gradient(30deg,blue,white);
    border-color: blue;
    border-style: solid;
    color: white;
    margin-bottom: 1%;
}
.expWidthClass ul {
    /* margin: 3px; */
    margin-right: 10%;
    margin-left: 10%;
}
.expWidthClass ul li {
    /* margin: 3px; */
    padding-right: 10%;
    padding-left: 10%;
}
.subscribeClass{
    border: 1px solid blue;
    margin-top: 1%;
}
.payButtonClass{
    background-color: blue;
    color: white;
}
.frameClass a{
    color:black;
    text-decoration-line: underline;
}
@media only screen and (max-width: 600px) {
    .mainClass {
        margin-top: 20%;
    }
    .expClass {
        /* float: inherit; */
        /* padding-left: 3%; */
        display: contents;
        gap: 10px;
    }
    .expWidthClass {
        width: 100%;
    }
  }