<div class="mainClass">
    <div class="headerClass">
        <h3>Awaaab LLC</h3>
        <h4>Software as a service Provider</h4>
        <h5>Providing the best integrated programs for business management and organization</h5>
    </div>
    <div class="frameClass">
        <!-- {{summary}} -->
        Our goal is to deliver the best software using the latest available mechanisms and collaborate 
        with cross-functional teams to drive project success. We specialize in solving software problems, 
        focus on administrative details and have a passion for keeping up with emerging technologies and 
        industry best practices. We are known for meeting requirements and exceeding customer expectations. 
        We always seek to contribute expertise to dynamic software development teams.
    </div>
    <div class="expClass">
        <div class="frameClass expWidthClass" *ngFor="let item of projects; index as _id;">
            <h3>{{item.header}}</h3>
            <ul *ngFor="let p of item.points; index as _id;">
                <li>{{p}}</li>
            </ul>
        </div>
    </div>
   <div>
    <!-- <p><a href="/login/new">create account</a> or <a href="/login/">login</a> and fill out your project requirements</p> -->
    <!-- <button class="payButtonClass"><a href="https://pay.awaaab.com/" target="_blank">Pay</a></button> -->
     <p></p>
</div>
</div>