<div class="mainClass">
    <div class="summaryClass">
        Results-driven Full Stack Developer with 5 years of hands-on experience in designing and implementing
        innovative web applications. Adept at utilizing a comprehensive skill set, with a particular emphasis
        on JavaScript technologies. Proven track record of delivering high-quality solutions through the entire
        software development lifecycle. Excels in collaborating with cross- functional teams to drive project success. A
        detail-oriented problem solver with a passion for staying abreast of emerging technologies and industry best
        practices. Recognized for consistently meeting project deadlines and exceeding client expectations. Seeking to
        contribute expertise and enthusiasm to a dynamic development team.
    </div>
</div>