.mainFrame{
    /* border: 1px solid red; */
    /* display: flex; */
    width: 100%;
    align-items: center;
    padding: 1%;
}
/* .imgFrame{
    border: 1px solid blue;
} */
.imgSize{
    width: 100%;
}
/* .titleClass{
    border: 1px solid black;
} */