<div class="certificatClass">
  <h4>License & Certificate</h4>
  <ul>
    <li>
        {{associate.split(',')[3]}},
        <a aria-label="kcc" target="_blank" rel="noopener" href="{{associate.split(',')[1]}}"
          title="{{associate.split(',')[0]}}">
          {{associate.split(',')[2]}}
        </a>
    </li>
    <li>
      {{certificates.split(',')[0]}},
      <a aria-label="kcc" target="_blank" rel="noopener" href="{{associate.split(',')[1]}}"
          title="{{associate.split(',')[0]}}">
          {{associate.split(',')[2]}}
        </a>
    </li>
    <li>
      {{certificates.split(',')[1]}},
      <a aria-label="kcc" target="_blank" rel="noopener" href="{{associate.split(',')[1]}}"
          title="{{associate.split(',')[0]}}">
          {{associate.split(',')[2]}}
        </a>
    </li>
  </ul>
</div>