.productFrame{
    /* border: 1px solid blue; */
    display: flex;
}
.photosFrame {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 1%;
    /* float: inline-start; */
    width: 40%;
    margin-right: 1%;
}

.sidePhotos {
    /* border: 1px solid blue; */
    width: 100%;
    /* padding-right: 1%; */
    /* float: left; */
}

.miniPhoto {
    width: 80%;
    /* border: 1px solid blue; */
}
.mainPhotoImg{
    /* border: 1px solid blue; */
    width: 100px;
}
.mainPhotoImg:hover{
    transform: scale(1.5);
}
.productInfo{
    /* border: 1px solid blue; */
    width: 90%;
}