<div class="AllProjects">
    <h1>All Projects</h1>
    <ul *ngFor="let item of allProjects; index as _id;">
        <li (click)="projectNameClicked(item._id, item.projectName)">{{item.projectName}}</li>
    </ul>
</div>
<div>{{errorMessage}}</div>
<div class="SDLC" *ngIf="ProjectSelected; else elseBlockOfProject">
    <h1>{{projectName}}</h1>
    <button >
            <span>Planning</span>
    </button>
    <button  (click)="RequirementsClicked($event)" >
            Requirements
    </button>
    <button >
            <span>Design</span>
    </button>
    <button >
            <span>Implementation</span>
    </button>
    <button>
            <span>Testing</span>
    </button>
    <button>
            <span>Deployment</span>
    </button>
    <button >
            <span>Maintenance</span>
    </button>
</div>
<ng-template #elseBlockOfProject></ng-template>