<div class="login">
    <div class="loginForm">
        <div class="form-field">
            <input placeholder="email" (change)="emailChanged($event)">
        </div>
        <div class="form-field">
            <input type="password" placeholder="password" (change)="passwordChanged($event)">
        </div>
        <div class="form-field">
            <button class="btn " (click)="loginClicked()">Login</button>    
            <button class="btn othersBtn" (click)="newClicked()">new</button>
            <button class="btn othersBtn" (click)="forgetClicked()">forget Password</button>        
        </div>
        <div class="form-field" >
            <span>{{errorMessage}}</span>
        </div>
    </div>
    
</div>