<div class="login">
    <div class="loginForm">
        <div class="form-field">
            <input placeholder="username" (change)="usernameChanged($event)">
        </div>
        <div class="form-field">
            <input type="password" placeholder="password" (change)="passwordChanged($event)">
        </div>
        <div class="form-field">
            <button class="btn" (click)="loginClicked()">Login</button>
            <button class="btn" (click)="newClicked()">new</button>
        </div>
        <div class="form-field" >
            <span>{{errorMessage}}</span>
        </div>
    </div>
    
</div>