all products
<div class="mainFrame">
    <table class="left">
        <tr class="productClass"  *ngFor="let item of items; index as i;">
            <td class="allClass" *ngIf="i<5">
                <app-mini-product-view [item] = item />
                <button class="btnProductDetails" (click)="btnItem(item);" *ngIf="i<5">More...</button>
            </td>
        </tr>    
        <div class="profileClass" *ngIf="product">
            <app-product-profile [product] = product/>
        </div>
    </table>
    
    <div class="cartFrame">
        <app-cart />
    </div>
</div>