all products
<div class="mainFrame">
    <div class="left">
        <div style="display: flex;">
            <div class="productClass"  >
                <div class="allClass" *ngFor="let item of items; index as i;">
                    <app-mini-product-view [item] = item />
                    <button class="btnProductDetails" (click)="btnItem(item);">More...</button>
                </div>
            </div>
        </div>    
        <div class="profileClass" *ngIf="product">
            <app-product-profile [product] = product/>
        </div>
    </div>
    
    <div class="cartFrame">
        <app-cart />
    </div>
</div>