all products
<div class="mainFrame">
    <div class="left">
        <div class="productClass">
            <div class="allClass" *ngFor="let item of items">
                <app-mini-product-view [item] = item />
                <button (click)="btnItem(item);">More...</button>
            </div>
        </div>    
        <div class="profileClass" *ngIf="product">
            <app-product-profile [product] = product/>
        </div>
    </div>
    
    <div class="cartFrame">
        <app-cart />
    </div>
</div>