<div class="titleRow">
    <div class="elem">
        <h2>Awaab Elamin</h2>
        <h4>Software Engineer</h4>
    </div>
    <div class="elem"></div>
    <div class="elem"></div>
    <div class="elem right">
        <a href="mailto:awaab@awaaab.com">Awaab@Awaaab.com</a>
        <p>+13192104964</p>
        <p>Cedar Rapids, Iowa</p>
        <p><a href="https://www.linkedin.com/in/awaab/">linkedin</a></p>
        <p><a href="https://github.com/AwaabElamin">github</a></p>
        <p><a href="https://www.awaab.net/resume">Awaaab LLC</a></p>
    </div>

    
</div>
