<div class="card-experience">
    <h4>Experience</h4> 
      <ul>
        <li>
          <a aria-label="infosys" target="_blank" rel="noopener" href="{{infosys.split(',')[0]}}" title="infosys">
            {{infosys.split(',')[1]}}
          </a>,
          {{infosys.split(',')[2]}},
          {{infosys.split(',')[3]}},
          {{infosys.split(',')[4]}}
          <p>{{infosys.split(',')[5]}},
            {{infosys.split(',')[6]}}, 
            {{infosys.split(',')[7]}}, 
            {{infosys.split(',')[8]}}, 
            {{infosys.split(',')[9]}}, 
            {{infosys.split(',')[10]}}, 
            {{infosys.split(',')[11]}},
            {{infosys.split(',')[12]}}</p>
        </li>
      </ul>
      <ul>
        <li>
          <a aria-label="ust" target="_blank" rel="noopener" href="{{awaabLlc.split(',')[0]}}" title="ust">
            {{awaabLlc.split(',')[1]}}
          </a>,
          {{awaabLlc.split(',')[2]}},
          {{awaabLlc.split(',')[3]}},
          {{awaabLlc.split(',')[4]}}
          <p>{{awaabLlc.split(',')[5]}}</p>
        </li>
      </ul>
  </div>