<div class="card-experience">
    <h4>Experience</h4>    
    <div>
      <ul>
        <li>
          <a aria-label="infosys" target="_blank" rel="noopener" href="{{infosys.split(',')[0]}}" title="infosys">
            {{infosys.split(',')[1]}}
          </a>
          <p>{{infosys.split(',')[2]}}</p>
          <p>{{infosys.split(',')[3]}}</p>
          <p>{{infosys.split(',')[5]}}</p>
          <p>{{infosys.split(',')[6]}},
            {{infosys.split(',')[7]}}, 
            {{infosys.split(',')[8]}}, 
            {{infosys.split(',')[9]}}, 
            {{infosys.split(',')[10]}}, 
            {{infosys.split(',')[11]}}, 
            {{infosys.split(',')[12]}}, 
            {{infosys.split(',')[13]}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-experience">
    <div>
      <ul>
        <li>
          <a aria-label="ust" target="_blank" rel="noopener" href="https://www.linkedin.com/in/awaab/" title="ust">
            Awaaab LLC
          </a>
          <p>Awaaab LLC · Self-employed</p>
          <p>Jun 2020 - Present</p>
          <p>Cedar Rapids, Iowa, United States</p>
          <p>developing Management Information System</p>
        </li>
      </ul>
    </div>
  </div>