<div class="headerClass">
    <div class="headerLeft">
        header left
    </div>
    <div class="headerMid">
        header mid
    </div>
    <div class="headerRight">
        header right
    </div>
</div>
<div class="mainFrame">
    <div class="container" style="margin-right: 10%;">
        <table class="usersHeaderTable">
            <thead>
                <th style="width: 11%;">firstname</th>
                <th style="width: 11%;">lastname</th>
                <th style="width: 30%;">email</th>
                <th style="width: 10%;">role</th>
                <th style="width: 5%;">status</th>
                <th style="width: 11%;"></th>
                <th style="width: 11%;"></th>
            </thead>
        </table >
        
        <table class="usersHeaderTable" *ngFor="let u of users">
            <app-users [user]="u" />
        </table>
        <tr>
            <td>
                <button type="button">add new user</button>
            </td>
        </tr>

    </div>
    <div class="container">
        <app-new-auto />
    </div>
</div>
<!-- <iframe src="https://main.dfnradbwueq86.amplifyapp.com/usedcars/new" width="100%" height="800px"></iframe> -->