<div>
    <label for="txtMake">Make</label>
    <input type="text" name="txtMake" id="txtMake"><br>
    <label for="txtModel">Model</label>
    <input type="text" name="txtModel" id="txtModel"><br>
    <label for="txtColor">Color</label>
    <input type="text" name="txtColor" id="txtColor"><br>
    <label for="txtYear">Year</label>
    <input type="text" name="txtYear" id="txtYear"><br>
    <label for="txtDescription">Description</label>
    <input type="text" name="txtDescription" id="txtDescription"><br>
    <label for="txtImagesFolder">Images Folder</label>
    <input type="text" name="txtImagesFolder" id="txtImagesFolder"><br>
    <button type="button" >submit</button><br>
    <span></span>
</div>
