#divInfo{
    align-items: center;
    align-content: center;
    padding-left: 30px;
}
table{
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 50px;
}
td{
    border: 1px solid rgb(0, 0, 0);
}
#btnSubmit{
    align-items: center;
}
#mainFrame{
    padding-left: 30%; 
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(59, 23, 161);
    align-items: right;
    align-content: right;
    align-self: right;
}
#title{
    border: 1px solid rgb(75, 70, 70);
    width: 50%;
}
.lblTitle{
    border: 1px solid rgb(225, 228, 18);
    margin-top: 1px;
    margin-bottom: 1px;
}