<div class="navMainProject">
      <div class="SDLCTitles">
      <a href="" target="_blank" rel="noopener">
        <span>Planning</span>
      </a>  
      </div>
      <div class="SDLCTitles">
        <a href="project/userStories" target="_self" rel="noopener">
            <span>Requirements</span>
        </a>
      </div>
      <div class="SDLCTitles">
        <a href="" target="_blank" rel="noopener">            
        <span>Design</span>            
        </a>
      </div>
      <div class="SDLCTitles">
        <a href="" target="_blank" rel="noopener">
            <span>Implementation</span>            
        </a>
      </div>
      <div class="SDLCTitles">
        <a href="" target="_blank" rel="noopener">
            <span>Testing</span>
        </a>
      </div>
      <div class="SDLCTitles">
        <a href="" target="_blank" rel="noopener">
            <span>Deployment</span>            
        </a>
      </div>
      <div class="SDLCTitles">
        <a href="" target="_blank" rel="noopener">
            <span>Maintenance</span>
        </a>        
      </div>
    </div>

