<div class="navMainProject">
  <div class="SDLCTitles">
   <a href="./resume" target="_self" rel="noopener"><span>resume</span></a>    
  </div>
  <div class="SDLCTitles" (click)="newProjectClicked();">
      <span>New Project</span>
  </div>
  <div class="SDLCTitles"(click)="CurrentProjectClicked();">
    <span>Current Projects</span>
</div>
</div>
<div class="navMainProject">
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Planning</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="project/userStories" target="_self" rel="noopener">
      <span>Requirements</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Design</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Implementation</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Testing</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Deployment</span>
    </a>
  </div>
  <div class="SDLCTitles">
    <a href="" target="_blank" rel="noopener">
      <span>Maintenance</span>
    </a>
  </div>
</div>

<app-new *ngIf="newProject; else elseBlock"/>
<ng-template #elseBlock><app-all-projects/> </ng-template>
