<div class="content" role="main">
  <h2>Software Engineer</h2>
  <p>Full stack developer</p>
  <div class="card-container">

    <app-summary />
    <div class="card-container">

      <div class="card-education">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
        </svg>
        <h4>Education</h4>
        <div>
          <ul>
            <li>
              <a aria-label="miu" target="_blank" rel="noopener" href="https://www.miu.edu/" title="miu">
                Maharishi International University
              </a>
              <p>Master of Software Development</p>
              <p>Aug 2020 - Dec 2022</p>
              <p>Full Stack Java script (Angular/React) with AWS Cloud</p>
            </li>
            <li>
              <a aria-label="ust" target="_blank" rel="noopener" href="https://ust.edu.sd/" title="ust">
                University of science and technology
              </a>
              <p>B. Sc, Computer Science</p>
              <p>Aug 2020 - Dec 2022</p>
            </li>
          </ul>
        </div>


      </div>

      <div class="card-education">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
        </svg>
        <h4>License & Certificate</h4>
        <div>
          <ul>
            <li>
              <a aria-label="kcc" target="_blank" rel="noopener" href="https://www.kirkwood.edu/" title="kcc">
                Kirkwood Community College
              </a>
              <p>associate of Software Development-Aug 2020</p>
              <p>dot net developer-May 2019</p>
              <p>Java programmer-May 2018</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h4>Experience</h4>
  <div class="card-container">

    <div class="card-experience">
      <div>
        <ul>
          <li>
            <a aria-label="infosys" target="_blank" rel="noopener" href="https://www.infosys.com/" title="infosys">
              Infosys · Full-time
            </a>
            <p>Software Engineer</p>
            <p>Apr 2022 - May 2023</p>
            <p>Remote</p>
            <p>solve our client app smoothly and use different tools and languages to got the target,
              React, React native, Angular, Expo, Azure, AWS, Java and SQL</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-experience">
      <div>
        <ul>
          <li>
            <a aria-label="ust" target="_blank" rel="noopener" href="https://www.linkedin.com/in/awaab/" title="ust">
              Awaaab LLC
            </a>
            <p>Awaaab LLC · Self-employed</p>
            <p>Jun 2020 - Present</p>
            <p>Cedar Rapids, Iowa, United States</p>
            <p>developing Management Information System</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    some projects code at &nbsp;
    <a href="https://github.com/AwaabElamin" target="_blank" rel="noopener">
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
        Github
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>
    </a>
  </footer>
</div>