<input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">  
<div class="bodyResume" id="content" #content>
  <div class="card-container">
    <app-title style="width: 100%;"/>
  </div>
  <div class="card-container">
    <app-summary style="width: 100%;"/>
  </div>
  <div class="card-container">
    <app-education  style="width: 100%;"/>
  </div>
  <div class="card-container">
    <app-certificates style="width: 100%;"/>
  </div>
  <div class="card-container">
    <app-experience style="width: 100%;"/>
  </div>
</div>