header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    font-weight: 600;
    margin-bottom: 1%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.whiteLink {
    /* padding-left: 3px;
    margin-left: 3px; */
    color: white;
}

.left {
    float: left;
    width: 20%;
}

.middle {
    width: 80%;
}


.login {
    width: 50px;
}

.right {
    float: right;
    width: 20%;
}

.loginDiv {
    width: 34px;
}